main#adventCalender{
    width: 90%;
    height: 90vh;
    background-image: url(images/jul6.jpeg);
    background-size: cover;
    display: grid;
    grid-template-columns: repeat repeat(6,1fr, 1fr, 1fr);
    column-gap: 1rem;
    padding:1rem;
}
main div{
   min-width: 50px;
   min-height: 100px;
   height: 4rem;
    border:solid 2px black;
    background-color: rgba(255,0,0,0.8);
    font-size:2rem;
    text-align: center;
    vertical-align: middle;
    line-height: 4rem;
    cursor: pointer;
    background-image: url(images/jul.gif);
    background-size: 100%;

        
}